*.pyc
*.pyo
*.class
*.log
*.iml
.coverage.*
htmlcov

.venv*
venv
.coverage
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
.vagrant/
*.sw*
~*
*~

build/
dist/
target/
node_modules/
.idea
.vscode

**/obj/**
**/lib/**

requirements.copy.txt
.serverless/

**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan

events.csv

.tinyb

deployments/prod/.env
dump.rdb

# Ignore dynaconf secret files
.secrets.*

# CDK stuff
cdk.out
